<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="DentalHarmony"
        android:roundIcon="@drawable/diente"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppClinicaCitas"
        tools:targetApi="31">
        <activity
            android:name=".views.Splash"
            android:exported="true">
            <!-- Define esta actividad como la actividad de inicio -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.VerCitas"
            android:exported="false" />
        <activity
            android:name=".views.AgendarCita"
            android:exported="false" />
        <activity
            android:name=".views.Register"
            android:exported="false">
            <!-- Elimina el intent-filter de esta actividad -->
        </activity>
        <activity
            android:name=".views.Login"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true" />
    </application>

</manifest>
